<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="">

    <div id="wrapper" class="col-md-6 mx-auto bg-light py-5">


        <!-- Intro Section-->
        <div id="intro-container" class="mx-auto col-md-11">
            <h3>Welcome to dank chats</h3>
            <p>Join our free unsensored chat service where you can join group chats with other users and chat with free speech.</p>
            <p>We do not ask for any private information during signup neither do we keep any record of chats, login locations or decryption keys.</p>
            <p>We do however keep failed login attemps for a certain time span, This helps us prevent users accounts from being bruteforced or hacked into.</p>


        </div>


        <!-- Login Section-->
        <div id="login-container" class="mx-auto col-md-8  py-3">

            <h3 class="text-center">Login to chat</h3>
            <form method="post">
                <label for="username" class="mt-3">Username:</label><input type="text" required id="username" name="username" class="form-control" />
                <label for="password" class="mt-3">Password:</label><input type="text" required id="password" name="password" class="form-control" />
                <button type="submit" class="btn btn-dark mt-3">Submit</button>

            </form>

        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>